@model IEnumerable<CommonLayer.EmployeeModel>

@{
    
    ViewData["Title"] = "Index";
}

<h1>List of Employees</h1>
<p>
    <div class="createlink">
        <a asp-action="Create">Create New</a>
    </div>
</p>
<table class="table">
    <thead class="tablelink">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProfileImage)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Gender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Department)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Salary)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Notes)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <img src="@item.ProfileImage" style="width:50%; height:50%;" alt="ProfileImage">
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gender)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Department)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Salary)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Notes)
            </td>
            <td class="Options">
                <span class="EditId">
                        @Html.ActionLink("Edit", "Edit", new {item.EmployeeId} ) 
                    </span> | &nbsp;
                <span class="Deatails">
                        @Html.ActionLink("Details", "Details",new {employeeId= item.EmployeeId}) 
                    </span> | &nbsp;
                <span class="Delete">
                        @Html.ActionLink("Delete", "Delete", new {employeeId= item.EmployeeId})
                </span>
            </td>
        </tr>
}
    </tbody>
</table>
